@import url('https://fonts.googleapis.com/css?family=Alegreya:wght@400;700|Nunito:wght@400;700&display=swap');

$body-font: "Nunito", "Helvetica", "sans-serif";
$headers-font: "Alegreya", "Georgia", "serif";
